
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f7f9fa;
}
.container {
    width: 75%;
    margin: 2rem auto 0;
}
.header {
    text-align: center;
    margin-bottom: 2rem;
}
.pictures__wrapper {
    display: flex;
    flex-wrap: wrap;
}
.picture {
    height: 38vh;
    border: 1px solid #d1d7dc;
    margin: 0 auto 20px;
    padding-bottom: 20px;
    background-color: white;
}
img {
    max-width: 250px;
    height: 33vh;
    padding: 10px;
    /* object-fit: cover; */
}
.btn{
    text-align: center;
}
.btn a {
    text-decoration: none;
    margin: auto;
    /* border: 1px solid #928989; */
    padding: 2px 5px;
    color: rgb(22, 21, 21);
    /* background-color: #d1d7dc; */
    border-radius: 5px;
    font-size: .75rem;
}